div {
	border: solid 0px black;
	box-sizing: border-box;
	font-family: Helvetica Neue, sans-serif;
	text-align: center;
	color: white;
}

body {
	background-color: #7AA353;
}

h1 {
	font-family: 'Yellowtail', helvetica, sans-serif;
	font-size: 72px;
	margin: 0;
	margin-top: -25px;
	color: #777;
}

h3 {
	font-family: 'Grand Hotel', helvetica, sans-serif;
	font-size: 28px;
	margin: 0;
	margin-top: 0px;
	margin-left: 25px;
	color: #777;
}

#main {
	width: 800px;
	margin: 0 auto;
}

#title {
	width: 800px;
	height: 150px;
	margin: 0 auto;
}

#game {
	width: 800px;
	height: 600px;
	margin: 0 auto;
	position: relative;
	background-image: url("../img/seattle-background-small.png");
	background-repeat: no-repeat;
}

#trash-chute {
	height: 125px;
	width: 125px;
	margin: 0 auto;
	margin-top: 225px;
	position: relative;
	z-index: 100;
}

#options {
	height: 50px;
	background-color: lightGray;
}

#townhomes {
	width: 800px;
	height: 300px;
	position: absolute;
	top: 225px;
	background-image: url("../img/townhomes-small.png");
	background-size: cover;
}

#bins {
	height: 150px;
	position: absolute;
	top: 480px;
	left: 215px;
}

#progress-bar {
	width: 800px;
	height: 100px;
	margin: 0 auto;
}

#blue-bin, #green-bin, #gray-bin {
	width: 100px;
	height: 150px;
	margin: 0px 5px;
	display: inline-block;
	background-size: cover;
}

#blue-bin {
	background-image: url("../img/recycling-bin.png");
}

#green-bin {
	background-image: url("../img/compost-bin.png");
}

#gray-bin {
	background-image: url("../img/garbage-bin.png");
}

.blue-item, .green-item, .gray-item {
	width: 125px;
	height: 125px;
	line-height: 125px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	float: left;
	background-image: url("../img/trash-item.png");
	background-size: cover;
}

.blue-item {
	background-color: lightBlue;
}

.green-item {
	background-color: lightGreen;
}

.gray-item {
	background-color: lightGray;
}

#footer {
	width: 800px;
	height: 200px;
	margin: 0 auto;
	font-size: 12px;
}

